@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Light.woff2'),
       url('../fonts/Gilroy-Light.woff');
  font-style: normal;
  font-display: swap;
  font-weight: 300;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Regular.woff2'),
       url('../fonts/Gilroy-Regular.woff');
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Medium.woff2'),
       url('../fonts/Gilroy-Medium.woff');
  font-style: normal;
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-SemiBold.woff2'),
       url('../fonts/Gilroy-SemiBold.woff');
  font-style: normal;
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Bold.woff2'),
       url('../fonts/Gilroy-Bold.woff');
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-regular.woff2'),
       url('../fonts/Roboto-regular.woff');
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}