.preloader {
  position: fixed;
  width: 100vw;
  top: 0;
  bottom: 0;
  background: #F6F6F6;
  z-index: 100;
  overflow: hidden;
}

.ajax-loader {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  transform: rotate(90deg) translateY(-50%) translateX(-50px);
  font-size: 50px;
  width: 1em;
  height: 3em;
  color: #FFC41E;;
}

.ajax-loader .paw {
  width: 1em;
  height: 1em;
  animation: 2050ms pawAnimation ease-in-out infinite;
  opacity: 0;
}

.ajax-loader .paw svg {
  width: 100%;
  height: 100%;
}

.ajax-loader .paw .icon {
  fill: currentColor;
}
.ajax-loader .paw:nth-child(odd) {
  transform: rotate(-10deg);
}
.ajax-loader .paw:nth-child(even) {
  transform: rotate(10deg) translate(125%, 0);
}
.ajax-loader .paw:nth-child(1) {
  animation-delay: 1.25s;
}
.ajax-loader .paw:nth-child(2) {
  animation-delay: 1s;
}
.ajax-loader .paw:nth-child(3) {
  animation-delay: 0.75s;
}
.ajax-loader .paw:nth-child(4) {
  animation-delay: 0.5s;
}
.ajax-loader .paw:nth-child(5) {
  animation-delay: 0.25s;
}
.ajax-loader .paw:nth-child(6) {
  animation-delay: 0s;
}
.no-cssanimations .ajax-loader .paw {
  opacity: 1;
}

@keyframes pawAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}